// @import 'bootstrap/'
.os_card{
    // @include 
    @include border-radius(0);
    margin-bottom: 18px;
    .card-header{
        padding: 0;
        border: none;
        @include border-radius(0);
        
    }
    
    .card-body{
        padding: 0;
        padding-left: 18px;
        padding-top: 13px;
    }
}